body{
    color: white;
    font-family: Arial;
    height: min-content;
    text-align: center;
    background-color: rgb(25, 25, 25);
}

.heading{
    font-size: 450%;
    font-weight: bold;
}

.move-icon{
    height: 50%;
}
.move-button{
    background-color: transparent;
    border: solid white 3px;
    height: 240px;
    width: 240px;
    border-radius: 120px;
    margin-right: 1%;
    cursor: pointer;
}
.js-result{
    margin-top: 50px;
    font-size: 400%;
    font-weight: bold;
} 
.js-moves{
    font-size: 250%;
}
.js-score{
    margin-top: 60px;
    font-size: 300%;
}
.reset{
    padding: 2% 4%;
    border: none;
    background-color: white;
    font-size: 200%;
    cursor: pointer;
}
